body
{
  font-family: cursive;
  font-size: 30px;
  margin:0;
  padding:0;
  background-size: cover;
  background-color: #fff;
}
@media screen and (min-width:375px) and (max-width:1024px) {
}
.sign-form{
  width: 50%;
  border-radius: 20px;
  background: coral;
  text-align: center;
  margin-left : 25%;
  margin-top: 2%;
  margin-bottom: 10%;
}
.sign-form img{
  width: 60%;
  margin-top: 5%;
  border-radius: 20px;
}
@media screen and (max-width:767px){
  .sign-form{
    margin-top: 40%;
  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  .sign-form{
  }
}
@media screen and (min-width:1024px){
    .sign-form{
      width: 40%;
      margin-left: 30%;
    }
}
.sign-form h1 {
  color: #008f82e;
}
.signin-box{
  border-radius: 20px;
  padding: 3%;
  width: 60%;
  border: 1px solid #999;
  outline: none;
  font-size: 20px;
}
.signup-box{
  border-radius: 20px;
  width: 80%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #999;
  outline: none;
  font-size:15px;
}
button{
  color: #fff;
  border-radius: 20px;
  padding: 2%;
  margin: 3% 0 ;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.sign-button{
  background-color: #008f82;

}
.sign-button:hover{
  background: #fff;
  color: coral;
}
.und{
  text-decoration: none;
  color: #008f82;
  display: block;
  font-size: 20px;

}
.und:hover{
  background: coral;
  color: #fff;
}
hr{
  width: 70%;
  margin-left: 15%;
}
.inner-box{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: coral;

}
.country{
  border-radius: 20px;
  margin-left:20% ;
  width: 60%;
  font-family: cursive;

}
.account-type{
  background-color: coral;
  text-align: center;
  border-radius: 20px;
  margin: 15%;

}
.account-type img{
  margin-top: 5%;
  border-radius: 20px;
}
.typee{
  text-decoration: none;
  color: #fff;
}
.account-type .type .owner{
  border-radius: 20px;
  margin-left: 5%;
  width: 30%;
  background-color: #008f82;
}
.account-type .type .owner:hover{
  background-color: coral;
  color: #fff;
}
.account-type .type .shopper{
  border-radius: 20px;
  margin-right: 5%;
  width: 30%;
  background-color: #008f82;
}
.account-type .type .shopper:hover{
  background-color: coral;
  color: #fff;
}
.fg-box {
  border-radius: 20px;
  width: 60%;
  padding: 2%;
  border: 1px solid #999;
  font-size: 20px;
  outline: none;
}
.form-container h2{
  color: #008f82;
}
.country select{
  font-size: 15px;
  position: relative;
  right: 20%;
  width: 70%;
  float: left;
}
.clear{
  width: 50%;
  background-color: #008f82;
}
.clear:hover{
  background-color: #coral;
  color: #fff;
}
.country label{
  font-size: 15px;
  position: relative;
  right: 26%;
}
.form-wrap h6{
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 5%;
}
