//* global style */
* {
  margin: 0;
  padding: 0;
}

.grid{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
/* header style */
.header{
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 10% 15% 75%;
  padding: 10px;
  column-gap: 10px;
}
/* .logo{
  background-color: green;
} */

.logo img{
  width: 90%;
  height: auto;
  padding: 5px;
}



.slogan p{
  font-size: 22px;
  text-align: left;
  font-family: 'Zen Dots', cursive;
  color: coral;
}

.nav-bar{
  display: grid;
  grid-template-columns: repeat(8, 0.8fr);
  grid-template-rows: 0.2fr;
  grid-gap: 20px;
}


.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.item, .dropdown{
  width: 80%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: coral;

}



.item a, .dropdown a{
  text-decoration: none;
  color:white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.item a:hover, .dropdown a:hover{
  color: red;
  cursor: pointer;
}


@media (max-width:768px) {
  .nav-bar{
    grid-template-columns: repeat(3, 3fr);
    padding: 0 40px;
  }
  .header .logo img{
    display: none;
  }
  
  
}

/* Main Style */

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "box1 box1 box1"
  "box2 box2 box2"
  "box3 box3 box3"
  "box4 box4 box4";
  place-items: center;


}
.box1, .box2, .box3, .box4{
  grid-area: box1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: 
  ". tittle ."
  "gallery gallery gallery";
  place-items: center;
  place-content: center;
  padding: 10px;
}
.tittle{
  grid-area: tittle;
  text-align: center;
}
.tittle .feature{
  padding: 5px;
}

.gallery{
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(3 ,minmax(100px, 400px));
  grid-template-rows: 1fr;
  place-items: center;
  place-content: center;
  border-top: 1px solid black;
  

}

.gallery .item1 img,.gallery .item2 img,.gallery .item3 img{
  width: 70%;
  padding: 10px;
  
}
.gallery .name{
  text-align: left;
  padding: 5px;
}

/* .name{
  grid-area: name;
  place-content: center;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "name1 name2 name3";
}
.name1{
  grid-area: name1;
}
.name2{
  grid-area: name2;
}
.name3{
  grid-area: name3;
} */


.box2{
  
  grid-area: box2;
}
.box3{
  
  grid-area: box3;
}
.box4{
  
  grid-area: box4;
}

/* footer style */
.footer{
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  padding: 20px;  
  border-top: 1px solid black;
}


.copyrights a{
  text-decoration: none;
  color: black;
}

.copyrights a:hover{
  color: red;
}



.tos a{
  text-decoration: none;
  color: black;
}

.tos a:hover{
  color: red;
}


.privacy a{
  text-decoration: none;
  color: black;
}

.privacy a:hover{
  color: red;
}



