
  body
{
  font-family: cursive;
  margin:0;
  padding:0;
  background-size: cover;
  background-color: #FF8C00;
}
.sign-form{
  width: 30%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: #fff;
  padding: 100px;
  margin: 10px auto 0;
  text-align: center;
  margin-bottom: 20px;
}
.sign-form h1 {
  color: #3dc23e;
  margin-bottom: 10px;
}
.signin-box{
  border-radius: 20px;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #999;
  outline: none;
  position: relative;
  right:5px;
}
.signup-box{
  border-radius: 20px;
  width: 100%;
  padding: 15px;
  margin: 3px 0;
  border: 1px solid #999;
  outline: none;
  position: relative;
  right:5px;
}
button{
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  margin: 10px ;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}
.sign-button{
  background-color: #3dc23e;
  position: relative;
  left :2px;

}
.sign-button:hover{
  background: #FF8C00;
  color: #fff;
}
.und{
  text-decoration: none;
  color: #3dc23e;
  display: block;
  position: relative;
  left: 5px;

}
.und:hover{
  background: #fff;
  color: #FF8C00;
}
hr{
  margin-top: 20px;
  width: 100%;
}
img{
  width:40%;
}
.inner-box{
  margin-bottom: 10px;
}
.country{
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  position: relative;
  left: 5px;
  font-family: cursive;
}
.type{
  margin: 10px;
  border-radius: 20px;
}
#owner{
  margin-top: 10px;
}
#shopper{
  margin-top: 10px;
}
.form-container {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-family: cursive;
  background: #fff;
  padding: 100px;
  margin: 10px auto 0;
  text-align: center;
  margin-bottom: 20px;
}
.fg-box {
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  margin-top: 0px;
  border: 1px solid #999;
  outline: none;
}
.send{
  border-radius: 20px;
  outline: none;
  background-color:  #3dc23e;
}
.form-container h2{
  color: #3dc23e;
}
.sign-form img{
  width: 300px;
}
.country select{
}


@media screen and (min-width:767px) {
  body{
    width: ;
  }
  
}