*{
  margin: 0;
  padding: 0;
}
.content{
  background-color: coral;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  border-radius: 20px;
  padding: 2%;
}
.content p{
  color: #fff;
  margin: 1%;
}
.box{
  border-radius: 20px;
  width: 70%;
  margin-left: 15%;
}
.box input{
  border-radius: 20px;
  border: none;
  width: 30%;
  padding: 1%;
}
.content img{
  width: 40%;
  border-radius: 20px;
  margin-bottom: 5%;
}
.content mark{
  background-color: #fff;
  color: coral;
  border-radius: 20px;
  padding: 2px;
}
.contact-form textarea, select{
  border-radius: 20px;
}
.contact-form select{
  padding: 1%;
  width: 30%;
  font-size: 15px;
}
.cookie-container{
  position: fixed;
  text-align: center;
  bottom: -100%; 
  left: 0;
  right: 0;
  padding: 2rem;  
  background-color: coral;
  transition: 400ms;
}
.cookie-container.active {
  bottom: 0;
}
.cookie-container p{
  font-size: 32px;
}

.cookie-container a{
  font-size: 32px;
  color: black;
}

.cookie-btn{
  background-color: #f3f3f3;
  color: coral;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 32px;
  border-radius: 8px;
  margin-top: 10px;


}