body
{
  font-family: cursive;
  font-size: 30px;
  margin:0;
  padding:0;
  background-size: cover;
  background-color: #FF8C00;
}
.sign-form{
  width: 70%;
  border-radius: 20px;
  background: #fff;
  text-align: center;
  margin: 15%;
}
.sign-form h1 {
  color: #3dc23e;
}
.signin-box{
  border-radius: 20px;
  margin: 5%;
  padding: 5%;
  width: 70%;
  border: 1px solid #999;
  outline: none;
  font-size: 20px;

}
.signup-box{
  border-radius: 20px;
  width: 70%;
  padding: 3%;
  margin: 3%;
  border: 1px solid #999;
  outline: none;
  font-size:20px;
}
button{
  color: #fff;
  border-radius: 20px;
  padding: 5%;
  margin: 5% 0 ;
  width: 70%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
}
.sign-button{
  background-color: #3dc23e;

}
.sign-button:hover{
  background: #FF8C00;
  color: #fff;
}
.und{
  text-decoration: none;
  color: #3dc23e;
  display: block;
  padding-bottom : 15%;
}
.und:hover{
  background: #fff;
  color: #FF8C00;
}
hr{
  margin-top: 5%;
  width: 70%;
}
img{
  width:40%;
}
.inner-box{
  width: 100%;
}
.country{
  border-radius: 20px;
  margin-top: 5%;
  width: 100%;
  font-family: cursive;
}
.account-type{
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  margin: 5%;

}
.typee{
  text-decoration: none;
  color: #fff;
}
.account-type .type .owner{
  border-radius: 20px;
  margin-left: 5%;
  width: 30%;
  background-color: #3dc23e;
}
.account-type .type .owner:hover{
  background-color: #FF8C00;
  color: #fff;
}
.account-type .type .shopper{
  border-radius: 20px;
  margin-right: 5%;
  width: 30%;
  background-color: #3dc23e;
}
.account-type .type .shopper:hover{
  background-color: #FF8C00;
  color: #fff;
}
.form-container {
  width: 70%;
  border-radius: 20px;
  font-family: cursive;
  background: #fff;
  margin: 15%;
  text-align: center;
}
.form-container img{
  width: 90%;
}
.fg-box {
  border-radius: 20px;
  width: 70%;
  padding: 5%;
  border: 1px solid #999;
  font-size: 20px;
  outline: none;
}
.send{
  border-radius: 20px;
  outline: none;
  background-color:  #3dc23e;
}
.send:hover{
  background-color: #FF8C00;
  color: #fff;
}
.form-container h2{
  color: #3dc23e;
}
.sign-form img{
  width: 90%;
}
.country select{
  font-size: 30px;
  margin: auto;
  margin-top: 5%;
}
.clear{
  width: 50%;
  background-color: #3dc23e;
}
.clear:hover{
  background-color: #FF8C00;
  color: #fff;
}
